<form  method = "post">
    <p>
        <label for="user_name">Name</label>
        <input type="text" name="user_name" placeholder= "enter user name"></input>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="text" name="password" placeholder= "password"></input>
    </p>
    <p>
        <label for="post">Post</label>
        <input type="text" name="post" placeholder= "post"></input>
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder= "Email"></input>
    </p>
    

    <p>
        <button type="submit">Create</button>
    </p>
    <p><a href="/">Home</a></p>
</form>